@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font Declaration */
@font-face {
  font-family: 'Someone';
  src: url('./assets/Someone.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Define font-family for Tailwind */
.font-someone {
  font-family: 'Someone', sans-serif;
}

/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

/* Import Cabin and Red Hat Display fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.font-cabin {
  font-family: 'Cabin', sans-serif;
}

.font-red-hat {
  font-family: 'Red Hat Display', sans-serif;
}


